.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Navbar */
/* -------------------------------- */
.custom-nav .nav-link a {
  color: rgba(0,0,0,0.55);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  transition:  color .2s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

.custom-nav .nav-link:hover a, .custom-nav .nav-link a:focus {
  color: #5B42F3;
}
/* End of Navbar */
/* -------------------------------- */

/* Button */
/* -------------------------------- */
.custom-button-div {
  text-align : center;
  display: inline-block;
}

.custom-button {
  align-items: center;
  background-image: linear-gradient(144deg,#4062ff, #5B42F3 50%,#1660cd);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(245, 245, 245, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #5B42F3;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.custom-button:active,
.custom-button:hover {
  outline: 0;
}

.custom-button span {
  background-color: #fff;
  padding: 16px 24px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.custom-button:hover span {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  .custom-button {
    font-size: 20px;
    min-width: 150px;
  }
}
/* End of Button */
/* -------------------------------- */

/* Carousel  */
/* -------------------------------- */

.custom-carousel {

  background: black;
  overflow: hidden;
}
.custom-carousel img {
  opacity: 0.5;

}
/* End of Carousel */
/* -------------------------------- */




/* Card */
/* -------------------------------- */
.custom-card {
  /* width: 18rem; */
  color: #fff;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(144deg,#4062ff, #5B42F3 50%,#1660cd);
}
.custom-card i {
  font-size: 40px;
  margin: 40px;
}

.custom-card:hover {
  color: #5B42F3;
  border-color: #5B42F3;
  background-image: none;
  transition: 0.4s linear;
}
/* End of Card */
/* -------------------------------- */

/* Contact Us */
/* -------------------------------- */
.parallax {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/416320/pexels-photo-416320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

  /* Set a specific height */
  min-height: 250px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax > div{
  background-color: "white" !important;
  padding: "30px";
  margin: "80px"
}

/* End of Contact Us */
/* -------------------------------- */


/* Footer */
/* -------------------------------- */
.footer {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.social {
    display: flex;
    justify-content: center; 
}

.social-icon {
  /* color: #282c34; */
  color: #fff;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding-top: 5px;
  border-radius: 50%;
  font-size: 25px;
  /* border: 2px solid #282c34; */
  border: 2px solid #fff;
  background-image: linear-gradient(144deg,#4062ff, #5B42F3 50%,#1660cd);
}

.social-icon:hover {
  color: #fff;
  transform: scale(1.4);
  background-color: #282c34;
  border: 2px solid #fff;
  transition: 0.4s;
}

.footer p {
  color: #5B42F3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* End of Footer */
/* -------------------------------- */

